@font-face {
  font-family: first-font;
  src: url(../Fonts/bpg-glaho-web-caps-webfont.ttf);
  font-family: second-font;
  src: url(../Fonts/bpg-nino-mkhedruli-book-webfont.ttf); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(15px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-15px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0px); } }

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0); }
  50% {
    -webkit-transform: scale(1.5) rotateY(180deg);
    transform: scale(1.5) rotateY(180deg); }
  100% {
    -webkit-transform: scale(1) rotateY(360deg);
    transform: scale(1) rotateY(360deg); } }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 10px;
  transition: all .4s;
  position: relative; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(2.5) scaleY(3.8);
    opacity: 0; }

.btn::active {
  transform: translateY(-1px);
  box-shadow: 0 5px 1 0px rgba(0, 0, 0, 0.3); }

.btn-white {
  color: #777;
  background-color: #e6e6e6;
  border: 1px solid #000; }
  .btn-white::after {
    background-color: #e6e6e6; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 1.2s; }

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 8vh;
  top: 0;
  z-index: 10;
  background: rgba(230, 230, 230, 0.6); }
  .header_left {
    align-self: center;
    padding-left: 20px; }
    .header_left_logo {
      display: inline;
      letter-spacing: -10px;
      margin-right: 20px; }
      .header_left_logo_top, .header_left_logo_down, .header_left_logo_par {
        display: inline;
        font-size: 25px;
        text-transform: uppercase; }
  .header_right {
    padding-right: 20px;
    align-items: center;
    text-align: right; }
    .header_right nav ul {
      list-style-type: none; }
      .header_right nav ul li {
        display: inline-block;
        font-size: 25px;
        margin: 0 15px 0 0;
        font-weight: bold; }
        .header_right nav ul li a {
          text-decoration: none;
          color: #000;
          clear: right; }
          .header_right nav ul li a:hover {
            color: #28b485; }

label {
  margin: 0 40px 0 0;
  font-size: 25px;
  line-height: 8vh;
  display: none;
  width: 25px;
  float: right; }

#toggle {
  display: none; }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  background: #777;
  height: 10vh;
  color: #fff; }
  .footer_left {
    display: inline;
    text-align: center;
    align-self: center; }
  .footer_right {
    text-transform: uppercase;
    font-size: 25px;
    align-self: center; }

@media (min-width: 820px) and (max-width: 1024px) {
  .doing {
    flex-wrap: wrap; }
    .doing > div {
      max-width: calc((90vw / 3) + 20px);
      margin: 15px 0 15px 0; }
  .work_my-works {
    flex-wrap: wrap; }
    .work_my-works > div {
      width: calc((100% / 2) - 30px); }
  .contact {
    width: 50%; }
  label {
    display: block;
    cursor: pointer; }
  .header_right {
    text-align: right; }
    .header_right nav {
      width: 100%;
      text-align: center;
      display: none;
      width: 40vw;
      background-color: #00ffff;
      margin-top: 8vh; }
      .header_right nav ul li {
        display: block;
        margin: 0 0 10px 0; }
        .header_right nav ul li a:hover {
          color: #28b485; }
  #toggle:checked + nav {
    display: block; } }

@media (max-width: 820px) {
  .doing {
    flex-wrap: wrap; }
    .doing > div {
      max-width: 100%;
      margin: 15px 0 15px 0; }
  .work_my-works > div {
    width: 100%; }
  .about-me {
    flex-direction: column;
    align-items: center; }
    .about-me_image {
      width: 80%;
      background-size: cover; }
  .contact {
    width: 90%; }
  label {
    display: block;
    cursor: pointer; }
  .header_right {
    text-align: right; }
    .header_right nav {
      width: 100%;
      text-align: center;
      display: none;
      width: 40vw;
      background-color: #00ffff;
      margin-top: 8vh; }
      .header_right nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .header_right nav ul li {
          display: block;
          margin: 0 0 10px 0; }
          .header_right nav ul li a:hover {
            color: #28b485; }
  #toggle:checked + nav {
    display: block;
    height: 40vh;
    width: 60vw; }
  .heading-primary > span {
    font-size: 25px; } }

* {
  font-family: second-font; }

.main {
  height: 92vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%; }

.content {
  z-index: 1;
  margin-top: 8vh; }

.image {
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: relative; }
  .image_text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center; }

.heading-primary {
  color: #fff; }
  .heading-primary span {
    display: block;
    letter-spacing: 10px; }
  .heading-primary_left {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 50px; }
  .heading-primary_right {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 50px; }
  .heading-primary_sub {
    color: #fff;
    animation-name: moveInBottom;
    animation: moveInBottom .5s ease-out .6s;
    animation-fill-mode: backwards;
    font-size: 30px; }

.my-doing, .work {
  display: flex;
  width: 80vw;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10%; }
  .my-doing_text-box, .work_text-box {
    text-align: center;
    margin-bottom: 5%; }
    .my-doing_text-box p, .work_text-box p {
      font-size: 30px;
      margin-bottom: 15px; }
    .my-doing_text-box hr, .work_text-box hr {
      border: none;
      width: 7%;
      height: 2px;
      color: #000;
      background-color: #000; }

.doing {
  display: flex;
  max-width: 80vw;
  margin: auto;
  justify-content: space-between; }
  .doing_idea, .doing_mouse, .doing_less-great, .doing_support {
    max-width: calc(20vw - 40px);
    border: 1px solid #000;
    text-align: center;
    padding: 30px;
    margin: 0 15px 0 15px; }
  .doing_idea_img, .doing_mouse_img, .doing_less-great_img, .doing_support_img {
    background-image: url(../images/idea.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    align-content: center; }
    .doing_idea_img:hover, .doing_mouse_img:hover, .doing_less-great_img:hover, .doing_support_img:hover {
      cursor: pointer;
      animation-name: rotate-scale-up;
      animation-duration: 2.5s; }
  .doing_mouse_img {
    background-image: url(../images/mouse.png); }
  .doing_less-great_img {
    background-image: url(../images/less-or-great.png); }
  .doing_support_img {
    background-image: url(../images/support_1.png); }

.work {
  width: 80vw;
  margin: auto; }
  .work_my-works {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%; }
    .work_my-works > div {
      width: calc((100% / 3) - 30px);
      height: 252px;
      margin: auto;
      background-size: cover;
      cursor: pointer;
      transition: .75s; }
      .work_my-works > div:hover {
        transform: scale(1.15);
        filter: grayscale(50%); }

.first {
  background-image: url(../images/test.jpg); }

.second {
  background-image: url(../images/test.jpg); }

.third {
  background-image: url(../images/test.jpg); }

.fourth {
  background-image: url(../images/test.jpg); }

.fifth {
  background-image: url(../images/test.jpg); }

.sixth {
  background-image: url(../images/test.jpg); }

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  margin: 100px auto auto auto; }
  .about-me_image {
    background-image: url(../images/about-me.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-x: left;
    box-shadow: 20px 20px 20px 5px #00ffff;
    height: 371px;
    width: 27vw; }
  .about-me_text-box {
    width: 40%; }
    .about-me_text-box p:nth-child(1) {
      font-size: 30px;
      margin-bottom: 15px; }
    .about-me_text-box hr {
      display: inline-block;
      border: none;
      width: 27%;
      height: 2px;
      color: #000;
      background-color: #000; }

.contact {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 100px auto 100px auto;
  align-items: center; }
  .contact_text-box {
    font-size: 30px;
    margin-bottom: 15px; }
    .contact_text-box p {
      margin: 0; }
  .contact hr {
    border: none;
    width: 90%;
    height: 2px;
    color: #000;
    background-color: #000; }
  .contact_form {
    width: 100%; }
    .contact_form_form {
      width: 100%;
      margin: auto; }
      .contact_form_form textarea {
        width: calc(100% - 14px);
        border: 2px solid #000;
        height: 30px;
        display: block;
        margin-bottom: 20px;
        padding: 7px 0 0 10px; }
        .contact_form_form textarea:nth-child(3) {
          height: 100px; }
    .contact_form_questions {
      display: flex;
      justify-content: space-between;
      width: 100%; }
