html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.grass, .sky, .road{
    position: relative;
}
.sky{
    height: 40%;
    background: skyblue;
}
.grass{
    height: 30%;
    background: seagreen;
}
.road{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 30%;
    background: dimgray;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}
.lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0;
    width: 100%;
    position: absolute;
    top:45%;
}


.mario {
    animation-name: marioAnim;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: normal;
}



@keyframes marioAnim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50%);
    }
    
    100% {
        transform: translateY(0);
    }
    
}