@import 'normalize';

$font-family: 'Courier New', Courier, monospace;


*{
    box-sizing: border-box;
}
.title {
    color: #ff7729;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;


    border: {
        left: 10px solid black;
        right: 10px solid red;
        bottom: 10px solid yellow;
        top: 10px dashed blue;
    }

    @media screen and (max-width: 960px){
        background-color: #ddd;
    }
    span{
        text-transform: capitalize;
        text-decoration: underline;
        color: #8b3e11;
        &:hover {
            color: red;
        }
    }
    .info > & {
        font-family: $font-family;
        height: 400px / 10;
    }
}